main {
    width: 100%;
    min-height: 100vh; /* Altura da janela */
    display: flex;
    justify-content: center;
    align-items: center;
}

main > div {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

/* Formulário */
#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
    gap: 20px;
}

#secao-instalacao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Espaço em linhas e colunas */
}

#secao-cadastro {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#secao-instalacao img {
    width: 120px;
    height: 39px;
}

.estilo-formulario{
    max-width: 340px;

    
}

#formulario > div{
    width: 100%;
}

#formulario > div > label{
    font-family: "GFS Didot";
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-jordy-blue);
    font-weight: 500;/*aumenta ou diminui a espessura da fonte*/
    padding-bottom: 4px;
}

.formulario-botao-azul{
    width: 100%;
}

#formulario > p{
    text-transform: uppercase;/*Transforma o texto em maiusculo */
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-cinza-frances);
}

#formulario > a, #secao-cadastro >p >a{
    text-decoration: none;
    color: var(--cor-lapis-lazuli);
}

#secao-cadastro > p{
    font-size: var(--tamanho-fonte-md);
}
.informacao-aplicativo {
    background-color: transparent;
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-preto);
    font-weight: 150;
}


